<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 	<typeAliases> -->
<!-- 		<typeAlias alias="User" type="com.lubby.bean.User" /> -->
<!-- 	</typeAliases> -->

<!-- 	<mappers> -->
<!-- 		<mapper resource="com/lubby/dao/mapper/UserDAOMapper.xml" /> -->
<!-- 	</mappers> -->

</configuration> 