<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

<!-- 	<aop:aspectj-autoproxy proxy-target-class="true" /> -->
<!-- 	<bean id="logIntercepter" class="com.lubby.log.LogIntercepter"></bean> -->
	<!-- <aop:config> -->
	<!-- <aop:aspect id="myAspect" ref="logIntercepter"> -->
	<!-- <aop:pointcut expression="execution(* com.lubby.service.impl.*.*(..))" 
		id="logPointCut"/> -->
	<!-- <aop:before pointcut-ref="logPointCut" method="startLog"/> -->
	<!-- </aop:aspect> -->
	<!-- </aop:config> -->
<!-- 	<aop:config proxy-target-class="true"> -->
<!-- 		<aop:aspect id="myAspect" ref="logIntercepter"> -->
<!-- 			<aop:pointcut id="loginPointCut" -->
<!-- 				expression="execution(* com.lubby.service.impl.*.*(..))" /> -->
<!-- 			<aop:before pointcut-ref="loginPointCut" method="startLog"/> -->
<!-- 			<aop:after pointcut-ref="loginPointCut" method="endLog"/> -->
<!-- 			<aop:around pointcut-ref="loginPointCut" method="round" /> -->
<!-- 		</aop:aspect> -->
<!-- 	</aop:config> -->
</beans>