<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lubby.dao.AccountDAO">
	<resultMap type="com.lubby.bean.Account" id="accountResult">
		<result column="t_account_id" property="accountId" />
		<result column="user_id" property="userId" />
		<result column="cash" property="cash" />
	</resultMap>
	<insert id="addAccount" parameterType="com.lubby.bean.Account">
		insert into t_account
		(user_id,cash) values(#{userId},#{cash})
	</insert>
	<select id="getAccountByUserId" parameterType="String"
		resultMap="accountResult">
		select * from t_account where user_id = #{userId}
	</select>
	<select id="getAccountByAccountId" parameterType="String"
		resultMap="accountResult">
		select * from t_account where account_id = #{accountId}
	</select>
	<select id="getAllAccount" resultMap="accountResult">
		select * from t_account
	</select>


</mapper>